@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-transform: none;
    outline: none; border: none;
    text-decoration: none;
}


/* CSS style for homepage */


.form-group{
    margin-left: 150px;
}

.form-group input {
    margin-left: 50px;
    width: 100px;
}


html{
    background-color: #969696;
}

header{ 
    position:absolute;
    top: 0; left: 0; right: 0;
    background: #333;
}

/* Styling the navigation bar links */

header> nav> ul > li a{
    display: table-cell;
    margin-left: 50px;
    float: right;
    color: white;
    max-width: 100%;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    font-size: 1.5em;
}

/* Changing the color of links when hovering */

header> nav> ul> li a:hover{
    color: orange;
    text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 3em;  
    font-weight: bold;
}

div.aboutus h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
}

/* div.jumbotron p{
    text-align: center;
    text-transform: none;
    margin: 50px;
    font-size: 22px;
    font-weight: bold;
    color: orange;
} */

/* div.col-1-3 a{
    color: white;
}

div.col-1-3 a:hover{
    color:orange;
    text-decoration:underline;
} */

div.aboutus{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/* div.row{
    display: table, block;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-left: 300px;
} */



/* div.col-1-3 img{
    width: 350px;
    height: 350px;
} */

/* div.col-1-3 {
    display: table-cell;
    max-width: 20.3%;
    background-color: rgba(24, 204, 69, 0.719);
    border: black solid;
 } */






div.whytravel h1 {
    text-align: center;
    margin: 80px;
    font-size: 50px;
}

div.whytravel p {
    margin: 50px;
    font-size: 22px;
    text-transform: none;
    text-align: center;
    color: orange;
    font-weight: bold;
}

div.plantrip h1{
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

div.plantrip p{
    text-transform: none;
    font-size: 22px;
    margin: 50px;
    text-align: center;
    color: orange;
    font-weight: bold;
}

 .footer{
     margin-top: 50px;
     background:#333;
 }

 .footer .box-container{
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
 }

 .footer .box-container .box{
     display: block;
     padding: 1rem 0;
     flex: 1 1 25rem;
 }

 .footer .box-container .box h3{
     font-size: 1.5rem;
     padding:.7rem 0;
     color:white;
     }
 
.footer .box-container .box p{
    font-size: 1rem;
    padding:.7rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1rem;
    padding:.7rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    color: orange;
    text-decoration: underline;
}

/* CSS style for Contact Us page */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #069ab48f;
    box-sizing: border-box;
    color: white;
    padding: 10px 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* Itinerary styling */

  .itinerary {
      margin-top: 200px;
      width:100%;
  }

  .days{
      margin-top: 750px;
      width: 50%;
      float: right;}
      
    .itifooter{
        width: 100%;
        display: inline-block;}

    #booking > a{
        background-color: orange;
        font-size: 20px;
        border: solid black;
        margin-left: 100px;
        padding: 5px;
    }

